@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,600;0,700;0,900;1,400;1,600;1,700;1,900&display=swap");

    * {
      padding: 0;
      margin: 0;
    }

    .jarak-menu {
      padding-bottom: 30px;
    }

    nav {
      padding-top: -10px;
    }

    .c-bg-1 {
      background: #387aff;
    }

    .c-bg-2 {
      background: #272727;
    }

    .c-tc-1 {
      color: #387aff;
    }

    .c-tc-2 {
      color: #272727;
    }

    .c-bgc {
      background-color: #387aff;
    }

    body {
      font-size: 14px;
      font-weight: 400;
      background-color: #e7e7e7;
      font-family: "Source Sans Pro", sans-serif;
    }

    .deco1 {
      margin-top: -20px;
      position: absolute;
      width: 100%;
      height: 150px;
      z-index: -1;
      box-shadow: 2px 2px 9px -1px rgba(0, 0, 0, 0.2);
    }

    .panel-member {
      margin-top: 70px;
      background: white;
      border-radius: 20px 20px 20px 20px;
      box-shadow: 2px 2px 6px -1px rgba(0, 0, 0, 0.2);
    }

    .custom--frame {
      border-radius: 10px 10px 10px 10px;
      box-shadow: 2px 2px 6px -1px rgba(0, 0, 0, 0.2);
    }

    .marquee {
      margin-top: -10px;
      height: 40px;
      width: 100%;
    }

    hr {
      margin-bottom: 15px;
    }

    .menu {
      font-size: 12px;
      font-weight: 500;
      padding-bottom: 20px;
    }

    .menu img {
      border-radius: 10px;
    }

    .menu h5 {
      padding-top: 10px;
    }

    .menu h6 {
      margin-top: -10px;
    }

    /*SALDO*/
    .currSign:before {
      content: "Rp ";
    }

    .spinner-grow {
      width: 5rem;
      height: 5rem;
    }

    .titl {
      color: #387aff;
    }

    .nomor {
      border: none;
      border-radius: 10px;
      color: #000000;
      padding: 2px;
      border-bottom: 1px solid black;
      width: 100%;
      background-color: #387aff;
    }

    .base {
      background-color: white;
      padding: 10px;
      border-radius: 10px;
    }

    input.nomor:focus {
      outline: none;
      color: #000000;
      border-bottom: 1px solid #387aff;
    }

    select.nomor:focus {
      outline: none;
    }

    .diamond {
      text-align: center;
      font-weight: bold;
      font-size: 18px;
    }

    .klik {
      border-bottom: 1px solid #387aff;
      color: #387aff;
    }

    .produk:hover {
      background-color: #387aff;
      color: white;
    }

    .produk {
      color: black;
      transition: 0.3s;
    }

    .produk h6 {
      color: #387aff;
    }

    .harga {
      margin-bottom: -1vw;
      font-size: 4vw;
    }

    .namapro {
      font-size: 5vw;
    }

    .bulet {
      width: 2vw;
      height: 2vw;
      background-color: rgba(0, 0, 0, 0.1);
      color: white;
    }

    .ubah {
      width: 100%;
      background-color: rgba(53, 94, 178, 0.19);
      color: #387aff;
      border-radius: 20px;
      font-weight: bold;
    }

    .konfir {
      width: 100%;
      background-color: #387aff;
      color: white;
      font-weight: bold;
      border-radius: 20px;
    }

    .modal {
      height: 0px;
    }

    .detail {
      margin-top: -20px;
    }

    .pilih {
      color: #387aff;
      margin-top: 1vw;
    }

    .kr {
      height: auto;
      border-top-right-radius: 20px;
      border-top-left-radius: 20px;
      border: none;
    }

    .pisah {
      width: 100%;
      height: 10px;
      background-color: #fafafa;
    }

    .detail {
      margin-top: -20px;
    }

    .satu {
      font-weight: bold;
      border-bottom: 1px solid #387aff;
      width: 100%;
      color: #387aff;
    }

    .dua {
      width: 100%;
    }

    .small {
      color: #6e6e6e;
      font-size: 5vw;
    }

    .kanan {
      text-align: left;
    }

    .kiri {
      text-align: right;
    }